.aboutus {
  overflow: hidden;
  &--textblock {
    padding: 80px 0 180px;
    background: $green;
    //height: 100vh;
    margin-bottom: 200px;
  }
  &--image {
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    .container {
      position: relative;
    }
    img {
      border-radius: 20px;
      position: relative;
    }
    .aboutus-img--text {
      position: absolute;
      left: 52px;
      bottom: 32px;
      color: $white;
      font-size: 14px;
    }
  }
  .block-title {
    color: $white;
    margin-bottom: 77px;
    span {
      font-style: italic;
      text-transform: capitalize;
      font-weight: 300;
    }
  }
  .block-image {
    width: 31%;
    position: relative;

    .image-item {
      position: relative;
      z-index: 2;
      transform: translate(-47px, -54px);
      img {
        max-width: none;
        width: 122%;
      }
    }
    &:before {
      content: '';
      position: absolute;
      left: 57%;
      top: -57px;
      transform: translate(-50%, 0);
      width: 284px;
      height: 284px;
      max-width: 284px;
      max-height: 284px;
      border-radius: 50%;
      background: $orange;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -80px;
      left: 0;
      width: 104%;
      height: 153px;
      background-image: url('../images/airplane-shadow.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
    }
  }
  .aboutus-textblock {
    width: 69%;
    &--item {
      width: 47%;
      color: $white;
      p {
        font-weight: 300;
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 0;
        }
        span {
          font-weight: 500;
        }
      }
      &.second-col {
        p {
          &:first-child {
            max-width: 317px;
          }
          &:nth-child(2){
            margin-bottom: 40px;
          }
        }
      }
    }
  }
  @media(max-width: 992px) {
    .block-image {
      width: 100%;
      margin-bottom: 32px;
    }
    .aboutus-textblock {
      width: 100%;
      &--item {
        margin-bottom: 24px;
        width: 100%;
        p {
          margin-bottom: 24px;
          &:last-child {
            //margin-bottom: 31px;
          }
        }
        &.second-col {
          p {
            &:nth-child(2){
              margin-bottom: 35px;
            }
          }
        }
      }

    }
  }
  @include media-breakpoint-down(lg) {
    &--textblock {
      padding: 47px 0 25px;
      margin-bottom: 50px;
    }
    &--image {
      margin-top: 81px;
      margin-bottom: 50px;
    }
    .block-title {
      margin-bottom: 48px;
    }
    .block-image {
      min-height: 180px;
      margin-bottom: 34px;
      .image-item {
        transform: none;
        display: flex;
        justify-content: center;
        img {
          width: auto;
          margin-left: -5px;
          margin-top: 5px;
        }
      }

      &:before {
        width: 180px;
        height: 180px;
        left: 55%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:after {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .block-image {
      .image-item {
        img {
          width: 100%;
        }
      }
    }
  }
}