html {
  font-size: 10px;
}

body {
  margin: 0;
  background: $body-bg;
  color: $text-color-base;
  font: $font-weight-base #{$font-size-base}/$line-height-base $font-family-base;
}

.container-xxl {
  max-width: 1354px;
}
.container {
  padding: 0 20px;
  //max-width: $container-max-widths;
  @include media-breakpoint-down(lg) {
    padding: 0 24px;
  }
}
a {
  text-decoration: none;
  color: $links-color-base;
  transition: $transition;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

button,
input[type="search"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
  transition: $transition;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: $font-title;
  color: $dark;
  position: relative;
  font-weight: 700;
  margin: 0;
  line-height: $line-height-titleh1;
}

h1 {
  font-size: $fs-h1-title;
  @include media-breakpoint-down(lg) {
    font-size: 4.4rem;
  }
}

h2 {
  font-size: $fs-h2-title;
  @include media-breakpoint-down(lg) {
    font-size: 3.8rem;
  }
}

h3 {
  font-size: $fs-h3-title;
  @include media-breakpoint-down(lg) {
    font-size: 2.6rem;
  }
}
h4 {
  font-size: $fs-h4-title;
}
h5 {
  font-size: $fs-h5-title;
}
h6 {
  font-size: $fs-h6-title;
}
p {
  margin: 0;
}

input[type="submit"],
input[type="button"],
button,
.button,
.btn {
  display: inline-block;
  background-color: $btn-bg;
  border: none;
  color: $btn-color;
  transition: all .3s ease-in;
  padding: 1.2rem 2.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  &.btn-transparent {
    background: transparent;
    border-color: $white;
    padding: 10px 29px;
    color: $white;
    border: 1px solid $white;
    &:hover {
      background: rgba($dark, 0.5);
    }
  }
}

.green-span {
  background: #006633;
  color: $white;
  font-weight: 300;
  display: inline;
}


input[type="submit"]:hover,
input[type="button"],
button:hover,
.button:hover,
.btn:hover {
  background-color: darken($btn-bg, 10%);
  color: $white;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: all .3s ease-in;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.block-title-pb {
  padding-bottom: 80px;
  @include media-breakpoint-down(md) {
    padding-bottom: 48px;

  }
}

.second-italic {
  span {
    font-weight: 300;
    font-style: italic;
  }
}
.second-italic-green {
  max-width: 165px;
  &:first-letter {
    padding-left: 10px;
  }
  span {
    background: #006633;
    color: $white;
    font-weight: 300;
    display: inline-block;
    padding: 0 10px;
    line-height: 0.95;
    border-radius: 50px;
    font-style: italic;
  }
  @include media-breakpoint-down(lg) {
    span {
      padding: 0 5px;
    }
  }
}
